*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #34495e;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
h1{
    color: white;
    font-weight: bold;
    font-size: 34px;
    transition: 3s ease-in-out;
    position: absolute;
    top: 0;
    left: 40px;
}
h1:hover{
    color: #ff9800;
    transform: scale(1.1);
}
#btn{
    position: absolute;
    top: 46%;
    left: auto;
    background-color: #e2e2e2;
    text-transform: uppercase;
	border:6px solid #fff;
    height: 80px;
    width: 80px;
    font-size: 25px;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    z-index:10;

}
.container{
    margin-top: 80px;
    width: 500px;
    height: 500px;
    background-color: #ccc;
    border-radius: 50%;
    border: 6px solid #dde;
    position: relative;
    overflow: hidden; 
    transition: 5s;
}
.container div{
    width: 200px;
    height: 50%;
    position: absolute;
    clip-path: polygon(100% 0, 50% 100%, 0 0);
    transform: translateX(-50%);
    transform-origin : bottom;
    text-align: center;  
    display: flex;
    justify-content: center;
    align-items: center;
   
    font-weight: bold;
    font-family: sans-serif;
    color: #fff;
    writing-mode: vertical-rl;
    left: 145px;

}

.container .Csharplanaguage{
    background-color: #34495e;
    transform: rotate(45deg);
}

.container .Cpplanaguage{
    background-color: #ff9800;
	transform: rotate(90deg);
}

.container .Clanaguage{
    background-color: #e91e63;
	transform:rotate( 135deg);
}

.container .Javalanaguage{
    background-color: #4caf50;
	transform: rotate(180deg);
}

.container .Jslanaguage{
    background-color:#009688;
    transform: rotate(225deg);
}

.container .TypeScriptplanaguage{
    background-color: #795548;
	transform: rotate(270deg);
}

.container .Rubylanaguage{
    background-color:#17e6d1;
    transform: rotate(315deg);
}

.container .Pythonlanaguage{
    background-color: #c24d22;
	transform: rotate(360deg);
}

span{
    color: #17e6d1;
    transition: 5s ease-in-out;
}
span:hover{
    text-transform:uppercase ;
}

    
  
     